.button{
    -fx-background-color: "darkorange";
    -fx-background-radius: 10px;
}
.root{
    -fx-background-color: "darkorange";
}
.menu-bar{
    -fx-background-color: "chocolate";
}
#anchor2{
    -fx-background-color: "limegreen";
}

#anchorpane3{
    -fx-background-color: "silver";
}

.table-view .column-header-background .text{
    -fx-fill: "white";
}

.table-view .column-header{
    -fx-background-color: "silver";
}
